@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&family=Smooch+Sans:wght@100;200;500&family=Ubuntu:wght@300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply bg-grey1;
  }
}


/* hack to remove in Chrome, input colors */
/* https://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs */
/* https://stackoverflow.com/questions/34551637/css-webkit-transition-not-working-on-input-type */
/* https://github.com/styled-components/styled-components/issues/492 */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
}

.DayPicker {
  @apply text-sm !important;
}

.DayPicker-Month {
  border-collapse: separate;
}
.DayPicker-WeekNumber {
  outline: none;
}
.DayPicker-Day {
  outline: none;
  border: 1px solid transparent;
}
.DayPicker-Day--hoverRange {
  background-color: #60605c !important;
}

.DayPicker-Day--selectedRange {
  background-color: #fff7ba !important;
  /*border-top-color: #FFEB3B;*/
  /*border-bottom-color: #FFEB3B;*/
  /*border-left-color: #fff7ba;*/
  /*border-right-color: #fff7ba;*/
}

.DayPicker-Day--selectedRangeStart {
  background-color: #FFEB3B !important;
  /*border-left: 1px solid #FFEB3B;*/
}

.DayPicker-Day--selectedRangeEnd {
  background-color: #FFEB3B !important;
  /*border-right: 1px solid #FFEB3B;*/
}

.DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
.DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
  border-radius: 0 !important;
  color: black !important;
}
.DayPicker-Day--hoverRange:hover {
  border-radius: 0 !important;
}

.transition-bar-enter {
  opacity: 0.01;
  transform: scaleX(0);
  transform-origin: left;
}
.transition-bar-enter-active {
  opacity: 1;
  transform: scaleX(1);
  transition: all 300ms ease-in;
  transform-origin: left;
}
.transition-bar-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.transition-bar-exit-active {
  opacity: 0.01;
  transform: translate(0, 10px);
  transition: all 300ms ease-out;
}
